/* FONTS  */
@font-face {
  font-family: 'Miso';
  src: url(../fonts/Miso\ Bold.otf);
  font-style: normal;
  font-weight: 700;
  font-display: auto;
}

@font-face {
  font-family: 'Quicksand';
  src: url(../fonts/Quicksand-Regular.otf);
  font-style: normal;
  font-weight: 400;
  font-display: auto;
}

@font-face {
  font-family: 'Quicksand';
  src: url(../fonts/Quicksand-Bold.otf);
  font-style: normal;
  font-weight: 700;
  font-display: auto;
}

:root {
  /* COLORS  */
  --color-primary: 15, 197, 176;
  --color-accent: 197, 153, 64;
  --color-success: 48, 146, 196;
  --color-warning: 209, 87, 87;

  --color-dark-one: 34, 37, 41;
  --color-dark-two: 39, 42, 46;

  --color-black: 0, 0, 0;
  --color-white: 255, 255, 255;

  /* COORDINATES  */
  --x: 0;
  --y: 0;
  --z: 0;

  --container-padding-inline: 2rem;
}

/* GENERAL  */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

ul {
  list-style: none;
}

/* BUTTON  */
.btn {
  padding: 0.7rem 1.2rem;
  display: flex;
  align-items: flex-end;
  gap: 0.3rem;
  font-size: 1rem;
  text-decoration: none;
}

.btn--full {
  background: rgba(var(--color-accent), 0.75);
  transition: all 0.4s;
}

.btn--full:hover {
  background: rgba(var(--color-black), 0.75);
}

.btn--overlay-left,
.btn--overlay-right {
  background: linear-gradient(
    120deg,
    transparent 0%,
    transparent 50%,
    rgba(var(--color-black), 0.75) 50%
  );
  background-size: 220%;
  transition: all 0.4s;
}

.btn--overlay-left {
  transform: translateX(-1.2rem);
}

.btn--overlay-right {
  transform: translateX(-1.2rem);
}

.btn--overlay-left:hover,
.btn--overlay-right:hover {
  color: rgba(var(--color-white));
  background-position: 100%;
  transform: translateX(0);
}

.banner {
  position: relative;
  padding-block: 15rem 10rem;
  background: linear-gradient(
      to right top,
      rgba(var(--color-dark-one), 1) 0%,
      rgba(var(--color-dark-one), 1) 65%,
      rgba(var(--color-dark-one), 0.75) 75%
    ),
    url('../assets/code-bg.jpg');
  background-position: center;
  background-size: cover;
}

.section-img {
  border-radius: 1em;
  box-shadow: -2em 2em 4em rgba(var(--color-black), 0.35);
}

.section-slug {
  margin-bottom: 1rem;
  font-size: 1.35rem;
  color: rgba(var(--color-primary), 0.8);
}

.section-title h2 {
  margin-bottom: 2rem;
}

.section-title h2 span {
  color: rgb(var(--color-primary));
}

.section-title p {
  margin-bottom: 1rem;
}

.section-title p span {
  font-weight: 700;
  color: rgb(var(--color-white));
}

.section-actions {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

/* TYPOGRAPHY  */
h1 {
  font-family: 'Miso', sans-serif;
  font-size: clamp(4.5rem, 1rem + 8vw, 9rem);
  font-weight: 700;
  line-height: 0.95;
  color: rgb(var(--color-white));
}

h2 {
  font-family: 'Miso', sans-serif;
  font-size: clamp(3rem, 1rem + 5vw, 6rem);
  font-weight: 700;
  line-height: 0.95;
  color: rgb(var(--color-white));
}

h3 {
  font-family: 'Miso', sans-serif;
  font-size: clamp(2.5rem, 1rem + 4vw, 5rem);
  font-weight: 700;
  line-height: 0.95;
  color: rgb(var(--color-white));
}

h4 {
  font-weight: 700;
  font-size: 1rem;
}

p {
  font-size: 1.1rem;
  line-height: 1.5;
  color: rgb(var(--color-white), 0.8);
}

/* LAYOUT  */
[class*='grid-'] {
  display: grid;
  gap: var(--grid-gap-space, 1rem);
}

[class*='flex-'] {
  display: flex;
  gap: var(--flex-gap-space, 1rem);
}

[class*='-container'] {
  width: 100%;
  margin: 0 auto;
  padding-inline: var(--container-padding-inline);
}

.flex-center {
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  --flex-gap-space: 1rem;
}

.flex-between {
  justify-content: space-between;
}

.flex-section {
  position: relative;
  margin: 10rem 0 20rem;
  align-items: flex-start;
  --flex-gap-space: 3rem;
  z-index: 1;
}

.flex-section::before {
  content: '';
  position: absolute;
  left: 10%;
  top: -15%;
  width: 80%;
  height: 120%;
  background: url(../assets/shape-one.svg);
  background-size: cover;
  background-position: center;
  transform: rotate(15deg);
  z-index: -1;
}

.banner-container {
  max-width: calc(90rem + var(--container-padding-inline));
}

.section-container {
  max-width: calc(80rem + var(--container-padding-inline));
}

/* COLORS  */
.color-white {
  color: rgba(var(--color-white));
}
.color-primary {
  color: rgba(var(--color-primary));
}
.color-accent {
  color: rgba(var(--color-accent));
}
.color-success {
  color: rgba(var(--color-succes));
}
.color-warning {
  color: rgba(var(--color-warning));
}

/********************************/
