/* FONTS  */
@font-face {
  font-family: 'Miso';
  src: url(../fonts/Miso\ Bold.otf);
  font-style: normal;
  font-weight: 700;
  font-display: auto;
}

@font-face {
  font-family: 'Quicksand';
  src: url(../fonts/Quicksand-Regular.otf);
  font-style: normal;
  font-weight: 400;
  font-display: auto;
}

@font-face {
  font-family: 'Quicksand';
  src: url(../fonts/Quicksand-Bold.otf);
  font-style: normal;
  font-weight: 700;
  font-display: auto;
}

:root {
  /* COLORS  */
  --color-primary: 15, 197, 176;
  --color-accent: 197, 153, 64;
  --color-success: 48, 146, 196;
  --color-warning: 209, 87, 87;
  /* --color-text-dark: rgba(0, 0, 0, 0.85); */
  /* --color-text-light: rgba(0, 0, 0, 0.55); */

  /* --color-shadow: rgba(0, 0, 0, 0.3); */
  /* --color-hover: 240, 240, 240; */

  --color-grey-dark: 39, 42, 46;

  --color-black: 0, 0, 0;
  --color-white: 255, 255, 255;

  /* COORDINATES  */
  --xAxis: 0;
  --yAxis: 0;
  --zAxis: 0;
}

/* GENERAL  */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

h1 {
  font-family: 'Miso', sans-serif;
  font-size: clamp(4.5rem, 1rem + 8vw, 8rem);
  font-weight: 700;
  line-height: 0.95;
  color: rgb(var(--color-white));
}

h4 {
  font-weight: 700;
  font-size: 1rem;
}

p {
  font-size: 0.9rem;
  line-height: 1.5;
}

/* LAYOUT  */
[class*='grid-'] {
  display: grid;
  gap: var(--gap-space, 1rem);
}

[class*='flex-'] {
  display: flex;
  gap: var(--gap-space, 1rem);
}

[class*='-container'] {
  width: 100%;
  margin: 0 auto;
  padding: 0 2rem;
}

/* .grid-center {
  place-items: center;
}

.flex-center {
  align-items: center;
  justify-content: center;
}

.flex-between {
  align-items: center;
  justify-content: space-between;
} */
