.header {
  border: 1px solid red;
  position: fixed;
  z-index: 100;
  width: 100%;
}

.header-container {
  max-width: 90rem;
  padding: 1rem 2rem;

  display: flex;
  align-items: center;
  gap: 3rem;
  border: 1px solid red;
}
