/* INTRODUCTION */
.introduction {
  position: relative;
  background: linear-gradient(
      to right top,
      rgba(var(--color-dark-one), 1) 0%,
      rgba(var(--color-dark-one), 1) 65%,
      rgba(var(--color-dark-one), 0.75) 75%
    ),
    url('../assets/code.jpg');
  background-position: center;
  background-size: cover;
}

.introduction-container {
  max-width: calc(90rem + var(--container-padding-inline));
  padding-block: 15rem 10rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

/* TITLE */
.title {
  flex: 1;
}

.title h1 {
  position: relative;
  margin-bottom: 1rem;
  cursor: pointer;
}

.title h1 span {
  color: rgb(var(--color-primary));
}

.title .clip-path {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: transparent;
  color: rgb(var(--color-accent));
  clip-path: circle(var(--z) at var(--x, 50%) var(--y, 50%));
}

.title .clip-path span {
  color: rgb(var(--color-accent));
}

.title h1:hover .clip-path {
  --z: 7rem;
}

.title p {
  max-width: 46ch;
}

.title p span {
  color: rgb(var(--color-primary));
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.title p span:hover {
  color: rgb(var(--color-accent));
}

/* TIPS  */
.grid-tips {
  width: min(100%, 36em);
  grid-template-columns: repeat(6, 1fr);
  grid-template-areas:
    '. tip_1 tip_1 tip_1 tip_1 .'
    'tip_2 tip_2 tip_2 tip_3 tip_3 tip_3'
    '. tip_4 tip_4 tip_4 tip_4 .';
}

.flex-tip {
  padding: 1em;
  align-items: flex-start;
  flex-direction: column;
  --gap-space: 0.5rem;
  background: rgb(var(--color-dark-two));
  border-radius: 1em;
  box-shadow: 0 0.25em 1em rgba(var(--color-black), 0.35);
}

.flex-tip h4 {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

.flex-tip p {
  font-size: 0.9rem;
}

.flex-tip:nth-child(1) {
  grid-area: tip_1;
}
.flex-tip:nth-child(2) {
  grid-area: tip_2;
}
.flex-tip:nth-child(3) {
  grid-area: tip_3;
}
.flex-tip:nth-child(4) {
  grid-area: tip_4;
}

.flex-tip:nth-child(1) h4 {
  color: rgb(var(--color-success));
}

.flex-tip:nth-child(2) h4 {
  color: rgb(var(--color-warning));
}

.flex-tip:nth-child(3) h4 {
  color: rgb(var(--color-primary));
}

.flex-tip:nth-child(4) h4 {
  color: rgb(var(--color-accent));
}
