.tips {
  padding: 8rem 0;
  background-color: rgb(var(--color-dark-two));
}

.tips-container {
  max-width: calc(55rem + var(--container-padding-inline));
}

.grid-tips {
  --gap-space: 5rem;
}

.tip h3 {
  margin-bottom: 2rem;
}

.tip h3 span {
  color: rgb(var(--color-accent));
}

.tip p {
  margin-bottom: 1rem;
}

.tip ul {
  margin-left: 1em;
}

.tip ul li {
  margin-bottom: 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  color: rgb(var(--color-white), 0.8);
}

.tip p span,
.tip ul li span {
  font-weight: 700;
  color: rgb(var(--color-white));
}

.tip ul li::before {
  content: '•';
  color: rgb(var(--color-success));
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}
