.tips {
  padding: 8rem 0;
  background: rgb(var(--color-dark-two));
}

.tips-container {
  max-width: calc(60rem + var(--container-padding-inline));
}

.tip:not(:last-child) {
  margin-bottom: 3rem;
  padding-bottom: 3rem;
  border-bottom: 1px solid rgba(var(--color-accent), 0.1);
}

.tip h3 {
  margin-bottom: 2rem;
}

.tip h3 span {
  color: rgb(var(--color-accent));
}

.tip p {
  margin-bottom: 1rem;
}

.tip ul {
  margin-left: 1em;
}

.tip ul li {
  margin-bottom: 1rem;
  font-size: 1.1rem;
  line-height: 1.5;
  color: rgb(var(--color-white), 0.8);
}

.tip p span,
.tip ul li span {
  font-weight: 700;
  color: rgb(var(--color-white));
}

.tip ul li::before {
  content: '•';
  display: inline-block;
  width: 1em;
  margin-left: -1em;
  color: rgb(var(--color-success));
}
