/* TITLE */
.title {
  position: relative;
  flex: 1;
}

.title h1 {
  position: relative;
  margin-bottom: 1rem;
  cursor: pointer;
}

.title h1 span {
  color: rgb(var(--color-primary));
}

.title .clip-path {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: transparent;
  color: rgb(var(--color-accent));
  clip-path: circle(var(--z) at var(--x, 50%) var(--y, 50%));
}

.title .clip-path span {
  color: rgb(var(--color-accent));
}

.title h1:hover .clip-path {
  --z: 7rem;
}

.title p {
  font-size: 1.25rem;
  max-width: 46ch;
}

.title p a {
  text-decoration: none;
  color: rgb(var(--color-primary));
  transition: all 0.2s ease-in-out;
}

.title p a:hover {
  color: rgb(var(--color-accent));
}
